@import "./layout/footer";
@import "./layout/header";
@import "./layout/main";


@media (max-width:375px) {

    header {
        background-color: #000000;
        flex-flow: row wrap;
        width: 100%;

        h1 {
            color: #F0A500;
            text-align: center;
            font-family: 'Milonga', cursive;
            font-size: 2.0rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            letter-spacing: 1.25rem;

            a {
                text-decoration: none;
                color: #F0A500;
            }
        }

        .navbar {
            display: flex;
            gap: 2.5rem;
            list-style: none;
            font-family: 'Londrina Solid', cursive;
            justify-content: center;
            justify-content: space-evenly;

            li {
                a {
                    display: flex;
                    text-decoration: none;
                    color: #F0A500;
                    font-size: 1.25rem;
                    justify-content: center;
                }
            }
        }
    }

    .index-sup {
        color: #000000;
        height: 5rem;
        width: 100%;
    }

    main {
        background-image: url(../Assets/img/Background.jpg);
        object-fit: cover;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        flex-flow: row wrap;
    }

    .index-main {
        height: 100vh;
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        .titulo-index {
            display: grid;
            grid-template: repeat (2, 1fr) / 1fr;
            grid-template-areas:
                "h1-grid"
                " . "
            ;

            .h1-grid {
                grid-area: h1-grid;
                font-size: 2rem;
                color: #F0A500;
                text-align: center;
                font-family: 'Milonga', cursive;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                letter-spacing: 1.25rem;

                a {
                    text-decoration: none;
                    color: #F0A500;
                }
            }
        }

        .navbar1 {
            align-items: center;

            li {
                display: flex;
                list-style: none;
                font-family: 'Londrina Solid', cursive;
                justify-content: center;
                text-decoration: none;

                a {
                    display: flex;
                    text-decoration: none;
                    color: #F0A500;
                    font-size: 2rem;
                }
            }

            .line {
                position: relative;
                top: 25%;
                width: 16em;
                margin: 0 auto;
                border-right: 2px solid rgba(255, 255, 255, 0.75);
                font-size: 180%;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                transform: translateY(-50%);
                font-family: 'Londrina Solid', cursive;
                font-size: 2.0rem;
                color: #F0A500;
                background-color: rgba(0, 0, 0, 0.329);
            }
        }
    }

    /*********Tienda*********/
    .container-grid {
        width: 100% auto;
        height: 100vh;
        display: flex;
        flex-flow: row wrap;

        .item0 {
            background-color: rgba(219, 0, 0, 0.376);

            .navbar-tienda {
                gap: 2rem;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                li {
                    list-style: none;
                    font-family: 'Londrina Solid', cursive;
                    justify-content: center;

                    a {
                        font-size: 1.5rem;
                        text-decoration: none;
                    }
                }
            }
        }

        div {
            background-color: rgba(0, 0, 0, 0.376);
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            .card-img {
                height: 15rem;
            }

            p {
                color: #F0A500;
                font-family: 'Londrina Solid', cursive;
                ;
                font-size: 1.5rem;
                text-shadow: 0.2rem 0.2rem 0.2rem grey;
            }

            button {
                a {
                    text-decoration: none;
                    color: #F0A500;
                }
            }
        }
    }

    /*********Datita***********/
    .main-datita {
        display: flex;
        flex-flow: row wrap;
        height: 100%;

        .datita-info {
            .h2-datita {
                width: 100%;
                background-color: rgba(0, 0, 0, 0.502);

                h2 {
                    color: #F0A500;
                }
            }

            display: flex;
            flex-flow: column wrap;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.502);

            img {
                height: 10rem;
                border-radius: 15%;
                box-shadow: 0.5rem 0.5rem 0.5rem rgba(128, 128, 128, 0.431);
            }

            p {
                color: #F0A500;
                font-family: 'Londrina Solid', cursive;
                font-size: 0.75rem;
                font-weight: lighter;
            }
        }

        .video-datita {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.502);

            iframe {
                height: 11.5rem;
                width: 17.5rem;
            }

            p {
                color: #F0A500;
                font-family: 'Londrina Solid', cursive;
                font-size: 0.75rem;
            }
        }
    }

    .main-news {
        height: 100vh auto;
        width: 100%;
    
        .promociones {
            color: #F0A500;
            font-family: 'Londrina Solid', cursive;
        }
    
        .carousel {
            .carousel-inner {
                .carousel-item {
                    img {
                        height: 37.5rem;
                    }
                }
            }
        }
    
        .Noticias {
            h2 {
                color: #F0A500;
                font-family: 'Londrina Solid', cursive;
            }
        }
    
        .news {
            display: flex;
            justify-content: center;
    
            .cards {
                display: flex;
                flex-flow: column wrap;
                background-color: rgba(0, 0, 0, 0.53);
                justify-content: center;
                align-items: center;
                margin: 1.0rem;
    
                .img-hombre-crema {
                    width: 20rem;
                    height: 12rem;
                }
    
                .img-mujer-pelo-color {
                    width: 20rem;
                    height: 10rem;
                    margin: 1.0rem;
                }
    
                .img-mujer-mascarilla {
                    width: 15rem;
                    height: 11rem;
                }
    
                h2 {
                    color: #F0A500;
                    font-family: 'Londrina Solid', cursive;
                }
    
                p {
                    color: #F0A500;
                    font-family: 'Londrina Solid', cursive;
                }
            }
        }
    }
    /**********Nosotros***********/
    .main-nosotros {
        .redes-nosotros {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.502);
    
            .item-nos {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
    
                img {
                    width: 7rem;
                    height: 7rem;
                }
    
                a {
                    font-family: 'Londrina Solid', cursive;
                    text-decoration: none;
                    color: #F0A500;
                    font-size: 2.5rem;
                    text-shadow: 0.5rem 0.5rem 0.5rem rgba(128, 128, 128, 0.455);
                }
            }
        }
    }
    /*********footer********/
    footer {
        background-color: #000000;
        display: flex;
        justify-content: space-between;

        .redes-sociales {
            display: flex;
            gap: 2.5rem;
            list-style: none;
            color: #F0A500;

            li {
                a {
                    text-decoration: none;

                    img {
                        height: 4rem;
                        width: 4rem;
                    }
                }
            }
        }

        .by {
            text-align: start;

            h4 {
                color: #ffffffbc;
            }
        }
    }
}