@import "./layout/footer";
@import "./layout/header";
@import "./layout/main";

@media (max-width:1024px) {
    header {
        background-color: #000000;
        flex-flow: row wrap;
        width: 100% auto;

        h1 {
            color: #F0A500;
            text-align: center;
            font-family: 'Milonga', cursive;
            font-size: 3.0rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            letter-spacing: 1.8rem;

            a {
                text-decoration: none;
                color: #F0A500;
            }
        }

        .navbar {
            display: flex;
            gap: 3.75rem;
            list-style: none;
            font-family: 'Londrina Solid', cursive;
            justify-content: center;
            justify-content: space-evenly;

            li {
                a {
                    display: flex;
                    text-decoration: none;
                    color: #F0A500;
                    font-size: 1.8rem;
                    justify-content: center;
                }
            }
        }
    }

    .index-sup {
        color: #000000;
        height: 7.5rem;
        width: 100% auto;
    }


    /**********main-gral********/
    main {
        background-image: url(../Assets/img/Background.jpg);
        object-fit: cover;
        width: 100% auto;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        flex-flow: row wrap;
    }


    /********Index*********/
    .index-main {
        height: 100vh;
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        .titulo-index {
            display: grid;
            grid-template: repeat (2, 1fr) / 1fr;
            grid-template-areas:
                "h1-grid"
                " . "
            ;

            .h1-grid {
                grid-area: h1-grid;
                font-size: 3rem;
                color: #F0A500;
                text-align: center;
                font-family: 'Milonga', cursive;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                letter-spacing: 1.8rem;

                a {
                    text-decoration: none;
                    color: #F0A500;
                }
            }
        }

        .navbar1 {
            align-items: center;

            li {
                display: flex;
                list-style: none;
                font-family: 'Londrina Solid', cursive;
                justify-content: center;
                text-decoration: none;

                a {
                    display: flex;
                    text-decoration: none;
                    color: #F0A500;
                    font-size: 3rem;
                }
            }

            .line {
                position: relative;
                top: 25%;
                width: 16em;
                margin: 0 auto;
                border-right: 2px solid rgba(255, 255, 255, 0.75);
                font-size: 180%;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                transform: translateY(-50%);
                font-family: 'Londrina Solid', cursive;
                font-size: 2.0rem;
                color: #F0A500;
                background-color: rgba(0, 0, 0, 0.329);
            }
        }
    }


    /*********Tienda*********/
    .container-grid {
        width: 100% auto;
        height: 100% auto;
        display: grid;
        grid-template: 0.5fr 1fr 1fr / repeat(3, 1fr);
        grid-template-areas:
            "item0 item0 item0"
            "item1 item2 item3"
            "item4 item5 item6"
        ;

        .item0 {
            grid-area: item0;
            background-color: rgba(0, 0, 0, 0.376);
            height: 50px;

            .navbar-tienda {
                gap: 3rem;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                li {
                    list-style: none;
                    font-family: 'Londrina Solid', cursive;
                    justify-content: center;

                    a {
                        font-size: 1.5rem;
                        text-decoration: none;
                    }
                }
            }
        }

        .item1 {
            grid-area: item1;
            background-color: rgba(0, 0, 0, 0.376);
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            p {
                color: #F0A500;
                font-family: 'Londrina Solid', cursive;
                ;
                font-size: 1.5rem;
                text-shadow: 0.2rem 0.2rem 0.2rem grey
            }
        }

        .item2 {
            grid-area: item2;
            background-color: rgba(0, 0, 0, 0.376);
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            p {
                color: #F0A500;
                font-family: 'Londrina Solid', cursive;
                ;
                font-size: 1.5rem;
                text-shadow: 0.2rem 0.2rem 0.2rem grey
            }
        }

        .item3 {
            grid-area: item3;
            background-color: rgba(0, 0, 0, 0.376);
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            p {
                color: #F0A500;
                font-family: 'Londrina Solid', cursive;
                ;
                font-size: 1.5rem;
                text-shadow: 0.2rem 0.2rem 0.2rem grey
            }
        }

        .item4 {
            grid-area: item4;
            background-color: rgba(0, 0, 0, 0.376);
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            p {
                color: #F0A500;
                font-family: 'Londrina Solid', cursive;
                ;
                font-size: 1.5rem;
                text-shadow: 0.2rem 0.2rem 0.2rem grey
            }
        }

        .item5 {
            grid-area: item5;
            background-color: rgba(0, 0, 0, 0.376);
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            p {
                color: #F0A500;
                font-family: 'Londrina Solid', cursive;
                ;
                font-size: 1.5rem;
                text-shadow: 0.2rem 0.2rem 0.2rem grey
            }
        }

        .item6 {
            grid-area: item6;
            background-color: rgba(0, 0, 0, 0.376);
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            p {
                color: #F0A500;
                font-family: 'Londrina Solid', cursive;
                ;
                font-size: 1.5rem;
                text-shadow: 0.2rem 0.2rem 0.2rem grey;
            }
        }

        .card-img {
            height: 15rem;
        }

        button {
            a {
                text-decoration: none;
                color: #F0A500;
            }
        }
    }

    /*********Datita***********/
    .main-datita {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;

        .h2-datita {
            display: flex;
            flex-flow: row wrap;
            color: #F0A500;
            background-color: rgba(0, 0, 0, 0.502);
            margin-top: 1.0rem;
        }

        .datita-info {
            display: flex;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.502);

            img {
                height: 20rem;
                border-radius: 15%;
                box-shadow: 0.5rem 0.5rem 0.5rem rgba(128, 128, 128, 0.431);
            }

            p {
                color: #F0A500;
                font-family: 'Londrina Solid', cursive;
                font-size: 1.5rem;
                font-weight: lighter;
            }
        }

        .video-datita {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.502);
            margin-top: 1.0rem;

            iframe {
                height: 23rem;
                width: 35rem;
            }

            p {
                color: #F0A500;
                font-family: 'Londrina Solid', cursive;
                font-size: 1.5rem;
            }
        }
    }

    .main-news {
        height: max-content;
        width: 100%;

        .promociones {
            color: #F0A500;
            font-family: 'Londrina Solid', cursive;
        }

        .carousel {
            .carousel-inner {
                .carousel-item {
                    img {
                        height: rem;
                    }
                }
            }
        }

        .Noticias {
            h2 {
                color: #F0A500;
                font-family: 'Londrina Solid', cursive;
            }
        }

        .news {
            display: flex;
            justify-content: center;
            flex-flow: column wrap;

            .cards {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;

                .img-hombre-crema {
                    width: 65rem;
                    height: 42rem;
                    margin: 2.0rem;
                }

                .img-mujer-mascarilla {
                    width: 50rem;
                    height: 50rem;
                    margin: 2.0rem;
                }

                .img-mujer-pelo-color {
                    width: 60rem;
                    height: 35rem;
                    margin: 2.0rem;
                }

                h2 {
                    color: #F0A500;
                    font-family: 'Londrina Solid', cursive;
                    font-size: 30px;
                }

                p {
                    color: #F0A500;
                    font-family: 'Londrina Solid', cursive;
                    font-size: 1.8rem;
                }
            }
        }
    }

    /*********Nosotros***********/

    .main-nosotros {
        .redes-nosotros {
            display: flex;
            flex-flow: column wrap;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.502);

            .item-nos {
                display: flex;
                flex-flow: column wrap;
                align-items: center;

                img {
                    width: 7rem;
                    height: 7rem;
                }

                a {
                    font-family: 'Londrina Solid', cursive;
                    text-decoration: none;
                    color: #F0A500;
                    font-size: 2.5rem;
                    text-shadow: 0.5rem 0.5rem 0.5rem rgba(128, 128, 128, 0.455);
                }
            }
        }
    }

    /*********footer********/
    footer {
        background-color: #000000;
        display: flex;
        justify-content: space-between;

        .redes-sociales {
            display: flex;
            gap: 2.5rem;
            list-style: none;
            color: #F0A500;

            li {
                a {
                    text-decoration: none;
                }
            }
        }

        .by {
            margin-top: 3.0rem;

            h4 {
                color: #ffffff;
            }
        }
    }
}